$c-primary: #70ff00;
$c-light: #ffffff;
$c-grey: #777777;
$c-dark: #181818;

$v-shadow: 0 0 5px;

// $bp-desktop--large: 1920px;
// $bp-desktop: 1440px;
$bp-desktop--small: 1200px;
// $bp-laptop: 960px;
$bp-tablet: 768px;
$bp-mobile: 360px;
